body{
	margin: 0;
	background-image: url("https://img.freepik.com/free-photo/woman-holding-up-pair-3d-glasses-bucket-with-popcorn_23-2148457903.jpg?w=1060&t=st=1690609315~exp=1690609915~hmac=54fa65cbaef3034bcbac3c2785ceb6623b7efadd5ba896028253ae7058ef4b7e");
   background-repeat: no-repeat;
   background-size: cover;
}
.container{
	
}
header{
  display: flex;
  justify-content: space-between;
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 2rem;

}
.logo{
  color:white;
    background-color: red;
    height: 40px;
    width: 80px;
    text-align: center;
    font-size: 2rem;
    border-radius: 14px;
    box-shadow: 0px -1px 20px 7px;
}
.logo:hover{
  transform: scale(1.3);
  transition: 1s ease-in-out;
}
.tabs{
  display: flex;
  gap:20px;
}
#fav{
   font-size: 1.3rem;
      color:white;
      text-decoration: none;
}
#fav:hover{
  color:red;
  transform: scale(1.2);
  transition: 0.5s ease-in-out;
}

#lastSearch{
      font-size: 1.3rem;
      color:white;
      text-decoration: none;
}
#lastSearch:hover{
  color:red;
  transform: scale(1.2);
  transition: 0.5s ease-in-out;
}

.result-container{
	height: 84vh;
   
}
.result-grid{
	display: flex;
    flex-direction: row;
    gap:70px;
    padding: 3rem;
}
.movie-poster{
	box-shadow: 10px 10px 6px 2px #080808;
    width: 280px;
}
.movie-poster img{
	height: 100%;
    width: 100%;
}
.movie-info{
	width: 500px;
}
#addToFav{
	    text-align: center;
    margin-left: 27rem;
    width: 500px;
    border: 2px solid white;
}